body {
    background-color: #e8ecef;
}

.container {
    color: black;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 650px;
}

.container form {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 600ms ease-in-out;
    margin: 0;
    box-sizing: border-box;
}

.container .login {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container .create {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.painelAlternador {
    background: linear-gradient(to right, #6565ff, #0000FF);
    color: white;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    transition: all 600ms ease-in-out;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
}

.esquerdo {
    right: 0;
    opacity: 0;
    z-index: 1;
}

.direito {
    right: 0;
    z-index: 2;
}

.container.ativCreate .login {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.container.ativCreate .create {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}

.container.ativCreate .esquerdo {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}

.container.ativCreate .direito {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

button {
    padding: 15px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
}

.btnAlt {
    background-color: white;
    color: blue;
}

.btnAlt:hover {
    border-color: #fff;
}